*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: Geometria, sans-serif;
  background-color: black;
  color: #ccc;
  user-select: none;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  height: 900px;
  position: relative;
  background: url(../img/0.jpg);
  background-position: -220px center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  transition: 0.5s;
}


.container {
  position: absolute;
  top: 20px;
  left: 20px;
  /*flex-direction: column;*/
  display: flex;
  justify-content: space-around;
  width: auto;
  gap: 50px;
}


.button {
  width: 80px;
  height: 80px;
  background-color: black;
  background-image: linear-gradient(-150deg, gray, black);
  background-repeat: no-repeat;
  color: tomato;
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 3px 6px 5px rgb(17, 16, 16);
  font-size: 16px;
  font-weight: bold;
  transition: 0.2s;
}

.button--press {
  box-shadow: 1px 1px 1px black;
  background-color: greenyellow;
}

.is-active {
  animation-name: active;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: tomato;
}

@keyframes active {
  0% {
    outline: 2px solid tomato;
    outline-offset: 10px;
  }
  50% {
    outline: 2px solid black;
    outline-offset: 10px;
    color: black;
  }
  100% {
    outline: 2px solid tomato;
    outline-offset: 10px;
  }
}
