*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: Geometria, sans-serif;
  background-color: #2C7580;
  background-image: linear-gradient(120deg, gray, rgb(37, 36, 36), rgb(37, 36, 36));
  background-repeat: no-repeat;
  color: #ccc;
}

body {
  padding: 30px;
}

/* relative */
.wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 400px;
  gap: 50px;
  margin: 50px auto;
  padding: 50px;
  border: 4px groove gray;
}

.button {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: tomato;
  color: black;
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
}

.button--press {
  box-shadow: 2px 2px 2px black;
  background-color: greenyellow;
}

.button--active {
  animation-name: active;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes active {
  0% {
    outline: 2px solid tomato;
    outline-offset: 10px;
    color: white;
  }
  50% {
    outline: 2px solid greenyellow;
    outline-offset: 10px;
    color: white;
  }
  100% {
    outline: 2px solid tomato;
    outline-offset: 10px;
    color: white;
  }
}